@import "tailwindcss";

@theme {
  --color-background: rgb(17 24 39);
  --color-foreground: #ffffff;
}

@theme inline {
  --font-shadow: var(--font-ibm-plex-mono), "Times New Roman", Monaco, Menlo,
    "Courier New", monospace;
  --font-mono: var(--font-ibm-plex-mono), Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
